.home{
    margin-left: 300px;
}
.home li{
    margin-right: 30px;
    font-size: 18px;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    color: #888888;
}
.top{
    height: 80px;
}
.first{
    position:sticky;
    top: 0px;
    z-index: +5;
}
.navbar-brand{
    font-size: 34px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.icons{
    margin-right: 20px;
}
.icons .raj{
    font-size: 18px;
    margin-right: 10px;
    color: #888888; 
}
.rajesh b{
    font-size: 28px;
    color: #1D685F;
}
.container{
    line-height: 30px;
}
.yes{
    color: #21625a;
}
.new{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin-top: 50px;
}
.new h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #1cb4a2;
    margin-bottom: 20px;
}
.new2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin-top: 70px;
}
.new2 h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.new p{
    text-align: center;
    margin-bottom: 50px;
}
.abt{
    height: 450px;
    
}
.out{
    margin-top: -350px;
    line-height: 40px;
}
.outs{
    margin-top: -130px;
}
.line{
    height: 10px;
}
.barcol{
    background-color: #14e7ced8;
}
.purecounter{
    font-size: 48px;
    color: #34B7A7;
}








.home-testimonial{
    background-color: #34B7A7;
    height: 380px
}
.home-testimonial-bottom{
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 20px;
    margin-bottom: 0px;
    position: relative;
    height: 130px;
    top: 190px
}
.home-testimonial h3{color: var(--orange);
    font-size: 14px;
    font-weight: 500;text-transform: uppercase
}
.home-testimonial h2{
    color: white;font-size: 28px;
    font-weight: 700
}
.testimonial-inner{
    position: relative;
    top: -114px
}
.testimonial-pos{
    position: relative;
    top: 24px
}
.testimonial-inner .tour-desc{
    border-radius: 5px;
    padding: 40px
}
.color-grey-3{
    font-family: "Montserrat", Sans-serif;font-size: 14px;
    color: #6c83a2
}
.testimonial-inner img.tm-people{
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    border-radius: 50%;-o-object-fit: cover;
    object-fit: cover;max-width: none
}
.link-name{font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    color: #6c83a2
}
.link-position{
    font-family: "Montserrat", Sans-serif;
    font-size: 12px;color: #6c83a2
}


#footer{
    background-color: aliceblue;
    height: 100px;
    text-align: center;
}
.copyright{
    padding-top: 30px;
}