.home{
    margin-left: 300px;
}
.home li{
    margin-right: 30px;
    font-size: 18px;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    color: #888888;
}
.top{
    height: 80px;
}
.first{
    position:sticky;
    top: 0px;
    z-index: +5;
}
.navbar-brand{
    font-size: 34px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.icons{
    margin-right: 20px;
}
.icons .raj{
    font-size: 18px;
    margin-right: 10px;
    color: #888888;
}

.new{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin-top: 50px;
}
.new h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #1cb4a2;
    margin-bottom: 20px;
}
.new p{
    text-align: center;
    margin-bottom: 30px;
}

.icon-boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.icon-box{
    height: 256px;
    width: 328px;
    text-align: center;
    border: 1px solid rgba(121, 121, 121, 0.144);
    margin: 26px;
    padding-top: 30px;
    
}
.icon-boxes h4 a{
    color: #2b9185;
    text-decoration: none;
}
.icon-box i{
    position: relative;
    left: -70px;
    font-size: 25px;
    color: rgb(18, 208, 215);
}
#oran{
    color: rgb(213, 87, 41);
}
#pink{
    color: pink;
}
#yello{
    color: rgb(209, 209, 26);
}
#lass{
   color: #144943;
}
svg:hover{
    color: #1cb4a2;
}


#footer{
    background-color: aliceblue;
    height: 100px;
    text-align: center;
}
.copyright{
    padding-top: 30px;
}
.mammu{
    text-decoration: none;
    color: white;
}
.mammu:hover{
    color: white;
}